html {
    font-family: Courier;
}
div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.m:hover {
    cursor: pointer;
}
div.m {
    border: 1px solid black;
    margin-bottom: 1em;
    padding: 0.5em;
}

h1:hover {
    cursor: pointer;
}
h1 {
    text-align: center;
}
div#main {
    max-width: 960px;
    width: 100%;
}
